# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
ompar_env/
venv/
.env

# Optimización C++ (Build Artifacts)
cpp_extensions/**/build/
cpp_extensions/**/*.so
cpp_extensions/**/*.o

# Modelos y Pesos (Archivos Grandes)
*.bin
*.pth
*.h5
*.safetensors
*.pt
*.ckpt
*.weights
*.weight
*.bias

# Artefactos de Optimización (ONNX/TensorRT)
*.onnx
*.engine
*.plan
*.trt
onnx__*

# IDEs
.vscode/
.idea/

# OMPar specific
model/
tokenizer/
dataset/
output/
__MACOSX/
.DS_Store


# C++
*.weights
*.engine
*.bias
